.popup__input-error {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  /*margin: 6px 0 0;*/
  display: block;
  min-height: 30px;
}

.popup__input-error:empty::before {
  content:"";
  display: inline-block;
}
