.profile__subtitle {
  grid-area: subtitle;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(22/18);
  margin: 0 0 calc(-100vw*4/1280);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 336px;
  width: 100%;
}

@media screen and (max-width: 768px){
  .profile__subtitle {
    font-size: calc(14px + (100vw - 425px)*(18 - 14)/(768 - 425));
  }
}

@media screen and (max-width: 425px){
  .profile__subtitle {
    max-width: 282px;
    font-size: 14px;
    line-height: calc(17/14);
    margin-bottom: -3px;
  }
}



